TIMES_TO_RUN=1000 # run this many times before exiting
DURATION_TO_RUN=3600 # seconds to run before exiting (Set to '0' to just run once)
SQS_QUEUE=https://sqs.us-east-2.amazonaws.com/999999999999/my-queue
AWS_REGION=us-east-2
MAX_MESSAGES=10
POLL_TIME=20
COMMAND_TEMPLATE="command_to_run for {TENANT} with {PAYLOAD} (and/or {B64PAYLOAD} which is the payload encoded in base-64)"
