#TIMES_TO_RUN=1000 # run this many times before exiting (or '1' to just run once) (Default: 1000)
#DURATION_TO_RUN=3600 # seconds to run before exiting (Set to '1' to just run once) (Default: 3600s)
SQS_QUEUE=https://sqs.us-east-2.amazonaws.com/999999999999/my-queue
AWS_REGION=us-east-2
MAX_CONCURRENCY=4 # How many simultaneous tasks to run at once (TODO: allow zero to disable, and/or default it to such?)
#POLL_TIME=20 # How long the long-poll for SQS should run for (optional, defaults to learning from queue metadata)
#MESSAGE_VISIBILITY_TIMEOUT=30 # The default message visibility timeout we should use with the queue (optional, default is to ask the queue)
COMMAND_TEMPLATE="command_to_run for {TENANT} with {PAYLOAD} (and/or {B64PAYLOAD} which is the payload encoded in base-64)"
CRON_TEMPLATE="su -m {TENANT} -c /bin/sh {COMMANDLINE}"
# Variables for the credential-refresher - leave `DIRECTORY_OF_ENV_VARS` unset or blank to skip
DIRECTORY_OF_ENV_VARS="/path/to/some/directory/"
# FILESYSTEM_DRIVER = (blocking, auto, other...) - try to avoid 'parallel', depending on your use-case (Default: auto)
# CREDENTIAL_DESIRED_DURATION=129_600 (Default 36 hours, max federated credential duration).
# CREDENTIAL_REFRESH_THRESHOLD=3600 (Default 1h; amount of time *before* credential is expired that it should be refreshed)
# the backslashing here is just terrible. You will probably want to use `INLINE_ROLE_QUOTES_TO_APOSTROPHES` instead (but you *cannot* use both)
INLINE_ROLE="{
    \"Version\": \"2012-10-17\",
    \"Statement\": [
        {
            \"Sid\": \"AllowListingOfUserFolder\",
            \"Effect\": \"Allow\",
            \"Action\": [
                \"s3:ListBucket\"
            ],
            \"Resource\": [
                \"arn:aws:s3:::put_your_bucket-here\"
            ],
            \"Condition\": {
                \"StringLike\": {
                    \"s3:prefix\": [
                        \"\${aws:PrincipalTag/slug}/*\"
                    ]
                }
            }
        },
        {
            \"Sid\": \"AllowS3InSubdirectory\",
            \"Effect\": \"Allow\",
            \"Action\": [
                \"s3:GetObject\",
                \"s3:PutObject\"
            ],
            \"Resource\": [
                \"arn:aws:s3:::put_your_bucket-here/\${aws:PrincipalTag/slug}/*\"
            ]
        }
    ]
}"
# in the following, you do *still* have to backslash the '$'
# You can't have *both* of these (INLINE_ROLE and INLINE_ROLE_QUOTES_TO_APOSTROPHES), pick one or the other
INLINE_ROLE_QUOTES_TO_APOSTROPHES="{
      'Version': '2012-10-17',
      'Statement': [
          {
              'Sid': 'AllowListingOfUserFolder',
              'Effect': 'Allow',
              'Action': [
                  's3:ListBucket'
              ],
              'Resource': [
                  'arn:aws:s3:::put_your_bucket-here'
              ],
              'Condition': {
                  'StringLike': {
                      's3:prefix': [
                          '\${aws:PrincipalTag/slug}/*'
                      ]
                  }
              }
          },
          {
              'Sid': 'AllowS3InSubdirectory',
              'Effect': 'Allow',
              'Action': [
                  's3:GetObject',
                  's3:PutObject'
              ],
              'Resource': [
                  'arn:aws:s3:::put_your_bucket-here/\${aws:PrincipalTag/slug}/*'
              ]
          }
      ]
  }"
ROLE_ARNS="arn::1234:blah,arn::1234:blah" # comma-separated list