#noinspection NestedVariableOutsideDoubleQuotesInspection
TIMES_TO_RUN=1000 # run this many times before exiting (or '1' to just run once)
DURATION_TO_RUN=3600 # seconds to run before exiting (Set to '1' to just run once)
SQS_QUEUE=https://sqs.us-east-2.amazonaws.com/999999999999/my-queue
AWS_REGION=us-east-2
#MAX_MESSAGES=10
MAX_CONCURRENCY=4 # How many simultaneous tasks to run at once
POLL_TIME=20 # How long the long-poll for SQS should run for
MESSAGE_VISIBILITY_TIMEOUT=30 # The default message visibility timeout we should use with the queue
COMMAND_TEMPLATE="command_to_run for {TENANT} with {PAYLOAD} (and/or {B64PAYLOAD} which is the payload encoded in base-64)"
CRON_TEMPLATE="su -m {TENANT} -c /bin/sh {COMMANDLINE}"
DIRECTORY_OF_ENV_VARS="/path/to/some/directory/"
# Sorry for the `\u0024` below (instead of '$') - have to do that or my IDE complains
INLINE_ROLE='{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowListingOfUserFolder",
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket"
            ],
            "Resource": [
                "arn:aws:s3:::put_your_bucket-here"
            ],
            "Condition": {
                "StringLike": {
                    "s3:prefix": [
                        "\u0024{aws:PrincipalTag/slug}/*"
                    ]
                }
            }
        },
        {
            "Sid": "AllowS3InSubdirectory",
            "Effect": "Allow",
            "Action": [
                "s3:GetObject",
                "s3:PutObject"
            ],
            "Resource": [
                "arn:aws:s3:::put_your_bucket-here/\u0024{aws:PrincipalTag/slug}/*"
            ]
        }
    ]
}'
ROLE_ARNS="arn::1234:blah,arn::1234:blah" # comma-separated list